body {
    padding: 0;
    margin: 0;
    color: rgb(105, 105, 158);
    background-color: rgb(248, 246, 243);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: 900;
}

body h2 {
    text-shadow: 2px 2px rgb(0, 0, 0);
}

header {
    margin: 0;
    margin-bottom: 30px;
    padding: 10px;
    font-weight: 900;
    font-size: 2.2rem;
    background-color: rgb(165, 157, 157);
}

.container {
    background-color: black;
    background-color: rgb(165, 157, 157);
    text-align: left;
    width: 80%;
    min-height: 1000px;
    margin: auto;
    padding: 30px 40px 30px 40px;
    border-radius: 6px;
    border-width: 30px 4px 10px 1px;
    border-color: rgb(105, 105, 158);
    border-style: solid;
    box-shadow: 0px 10px 16px 1px black;
}

.titulo-fechado {
    display: block;
}

.card {
   transition: 
   background-color 1s ease,
   color 1.5s ease,
   font-size 0.7s ease,
   height 0.4s ease,
   width 0.2s ease,
   padding 1s ease,
   margin-left 1s ease,
   opacity 3.5s ease,
   border-radius 0.7s ease;
}

.card-filme {
    color: rgb(240, 236, 236);
    align-items: center;
    min-height: 30px;
    width: 50%;
    height: 2em;
    margin: auto;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-left: 30px;
    border: 5px solid aliceblue;
    border-radius: 2.2em;
    font-weight: 600;
    font-size: 1.2rem;
    background-color: rgb(105, 105, 158);
    box-shadow: 0 5px 5px 1px black;
}

.card-filme-select {
    height: 400px;
    width: 95%;
    color: black;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    padding: 20px;
    border: 5px solid darkgray;
    border-radius: 6px;
    font-weight: 600;
    font-size: 2rem;
    background-color: gainsboro;
    box-shadow: 0 2px 2px 1px rgb(79, 79, 184);
}

.card-filme:hover {
    border: 5px solid black;
    color: black;
}

.conteudo {
    color: rgb(24, 24, 24);
    font-size: 1.2rem;
    transition: opacity 1.5s ease;
}

.escondido {
    opacity: 0;
    visibility: hidden;
}

.visivel {
    opacity: 1;
    visibility: visible;
}

.parte-fig-text {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.container-fig {
    width: 1000px;
}

.container-fig img {
    width: auto;
    max-width: 500px;
    height: 300px;
    margin: auto;
    display: block;
}

.container-info {
    height: 100%;
    margin-left: 20px;
    width: 100%;
    align-items: center;
    text-align: justify;
}